<.header>
  Course {@course.id}
  <:subtitle>This is a course record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/courses/#{@course}/edit"}>
      <.button>Edit course</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Semester">{@course.semester}</:item>
  <:item title="Name">{@course.name}</:item>
</.list>

<.back navigate={~p"/courses"}>Back to courses</.back>
