<.header class="dark:text-white">
  {gettext("Edit Message")} {@message.id}
  <:subtitle>{gettext("Use this form to manage message records in your database.")}</:subtitle>
</.header>

<.message_form changeset={@changeset} action={~p"/messages/#{@message}"} />

<.back navigate={~p"/messages"}>{gettext("Back to messages")}</.back>
