<.header>
  {gettext("Message")} {@message.id}
  <:subtitle>{gettext("This is a message record from your database.")}</:subtitle>
</.header>

<.list>
  <:item title={gettext("Email")}>{@message.email}</:item>
  <:item title={gettext("Subject")}>{@message.subject}</:item>
  <:item title={gettext("Message")}>{@message.message}</:item>
</.list>

<.back navigate={~p"/messages"}>{gettext("Back to messages")}</.back>
