<.header>
  Message {@message.id}
  <:subtitle>This is a message record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Email">{@message.email}</:item>
  <:item title="Subject">{@message.subject}</:item>
  <:item title="Message">{@message.message}</:item>
</.list>

<.back navigate={~p"/messages"}>Back to messages</.back>
